body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#first-banner{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;
}
.nam-color{
    color: orange;
}
.hire-me{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}
.first-banner-description{
    width: 50%;
    padding-left: 6%;
    margin-top: 50px;
}
.first-banner-img{
    width: 50%;
    padding-left: 6%;
    margin-top: 50px;

}
.first-banner-img img{
    width: 80%;
}
section{
    margin-bottom: 150px;
}

#middle-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.middle-img{
    width: 50%;
}
.middle-img img{
    width: 80%;
    padding-left: 5%;
}
.middle-description{
    width: 50%;
    padding-right: 8%;
}
.resume{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}
#experience-mama{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
 .dibba-mama{
    display: flex;
 }
 .dibba-mama div{
    margin: 0 5%;
 }
 .ex-one{
    width: 40%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid orange;
 }
 .ex-two{
    width: 40%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid orangered;
 }
 footer{
    background-color: black;
    color: white;
   text-align: center;
 }
 